.img1 {
    position: absolute;
    width: 1008px;
    height: 815px;
    left: 41px;
    top: 295px;
}

.img2 {
    position: absolute;
    width: 799px;
    height: 815px;
    left: 1090px;
    top: 295px;
}

p {
    position: absolute;
    width: 380px;
    height: 823px;
    left: 1930px;
    top: 305px;

    /* P */
    font-family: var(--base-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 1rem; /* 32px */
    line-height: 1.21875rem; /* 39px */

    /* or 195% */
    display: flex;
    align-items: center;
    letter-spacing: 0.005em;

    color: #000000;


}